@media screen and (min-width: 575px) {
  .wrapper {
    display: flex;
    width: 50%;
  }

  .gridContainer {
    width: 100%;
  }
}

body {
  background-color: #fdfff4;
  text-align: center;
}

button {
  width: 53%;
  border: none;
  outline: none;
  padding: 0.1em;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: rgb(100, 204, 100, 0.8);
  color: white;

}

button:hover {
  background: rgba(83, 167, 83, 0.8);
  color: white;
}

button:active {
  background: rgba(45, 87, 45, 0.8);
  color: white;
}

.wrapper {

  background-color: #ebebeb;
  min-width: 18em;
  max-width: 54em;
  height: auto;
  display: flex;

  margin: 5vh auto 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

.dolarBillboard {
  width: 16em;
  margin: 1em;
}

.gridContainer thead,
tbody,
tr {
  display: contents;
}

.gridContainer {
  display: grid;
  border-collapse: collapse;
  grid-template-rows: 32px 30px 30px 24px 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.GridHeader {
  grid-column: 1/3;
}

.GridSales1 {
  grid-column: 1/1;
  grid-row: 2/2;
}

.GridSales2 {
  grid-column: 2/2;
  grid-row: 2/2;
}

.GridSales3 {
  grid-column: 1/3;
  grid-row: 2/2;
}

.GridValues1 {
  grid-column: 1/2;
  grid-row: 3/3;
}

.GridValues2 {
  grid-column: 2/2;
  grid-row: 3/3;
}

.GridValues3 {
  grid-column: 1/3;
  grid-row: 3/3;
}

.GridVariation {
  grid-column: 1/3;
}

.GridFooter {
  grid-column: 1/3;
}

img {
  height: 16px;
  width: 30px;
  padding-right: 5%;
}

.tabbleHeader {
  background: #728176;
  color: white;
  font-size: 130%;
  font-weight: 100;
  padding-right: 6%;
  padding-top: 2%;
  border-radius: 7px 7px 0px 0px;
}

.tabbleSales {
  color: #728176;
  background: #e4e8d1;
  font-size: 70%;
  padding-top: 13px;
}

.tabbleValues {
  color: #728176;
  background: #e4e8d1;
  font-size: 130%;
  font-weight: 600;
}

.tabbleVariation {
  background-color: white;
  color: #728176;
  font-size: 100%;
}

.tabbleFooter {
  background: #728176;
  color: white;
  border-radius: 0px 0px 7px 7px;
  font-size: 65%;
}

li {
  list-style: none;
}

li::before {
  content: "⯅";
  color: green;
}