body {
	width: 100vw;
	height: 100vh;
	text-align: center;
	background-color: #1abc9c79;
}

h1 {
	text-align: center;
	font-size: 4rem;
	font-weight: bold;
	color: rgb(55, 54, 56);
	letter-spacing: 8px;
	text-transform: uppercase;
	margin-top: 5%;
}

.CrudContainner {

	min-width: 30%;
	max-width: 40%;
	min-height: 50vh;
	max-height: 70%;
	margin: 0 auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

.CrudContainner .containnerbutton {
	min-width: 45%;
	max-width: 45%;
	outline: none;
	margin: 0 auto;
	letter-spacing: 1px;
	color: black;
	border-radius: 5px;
	box-shadow: 0px 12px 14px -4px rgba(0, 0, 0, 0.75);
	display: flex;
}

.newUser {
	background: #30A54A;
	font-size: 2rem;
	border: 1px solid rgb(146, 66, 66);
}

.newUser:hover {
	transform: scale(1.1, 1.1);
}

.newUser:active {
	background: #227534;
}

.editUser {
	background: #FDC02E;
	color: black;
}

.editUser:hover {
	transform: scale(1.1, 1.1);
}

.editUser:active {
	background: #FDC02E;
}

.deleteUser {
	background: #ED1C24;
	color: white;
}

.deleteUser:hover {
	transform: scale(1.1, 1.1);
}

.deleteUser:active {
	background: #ED1C24;
}

.editUser,
.deleteUser {
	width: 75%;
	height: 75%;
	font-size: 1.2rem;
	border: none;
	margin: 0px;
	text-align: center;
	justify-items: center;
}



.CrudContainner table,
tr,
td,
th {
	border-bottom: 1px solid rgb(150, 149, 149, 0.7);
	border-collapse: collapse;
	background-color: white;
	margin: 0px;
	height: 15%;
}

.CrudContainner td {
	height: 4rem;
}

.CrudWrapper {
	width: 100%;
	height: auto;
	border-top: 0.5px solid lightgrey;
	margin: 0px;
	padding: 0px;

}

.CrudWrapper th {
	color: black;
	background-color: white;
}


/************* Form Css ***************/


#newUserModal {
	display: none;
	z-index: 100;
	min-width: 30%;
	min-height: 45%;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -10%;
	margin-left: -15%;
}

.showModal {
	display: block;
}

.newUserModal h1 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: black;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-decoration: underline;
}

.signup {
	float: left;
	width: 100%;
	height: 100%;
	padding: 30px 20px;
	background-color: white;
	text-align: center;
	border-radius: 5px;
}

[type=text],
[type=password] {
	display: block;
	margin: 0 auto;
	width: 80%;
	border: 0;
	border-bottom: 2px solid rgba(0, 0, 0, .2);
	height: 45px;
	line-height: 45px;
	margin-bottom: 10px;
	font-size: 1em;
	color: rgba(0, 0, 0, .4);
}

[type='text']:focus,
[type=password]:focus {
	outline: none;
	border-color: #237375;
}

.signup button {
	margin-top: 25px;
	width: 80%;
	border: 0;
	background-color: #53CACE;
	border-radius: 5px;
	height: 50px;
	color: white;
	font-weight: 400;
	font-size: 1em;
}


/********** End of Form Css ************/